:where(html) {
    /*--step--4: clamp(0.512rem, 0.555rem + -0.0555vw, 0.5425rem);
    --step--3: clamp(0.64rem, 0.6556rem + -0.0201vw, 0.651rem);
    --step--2: clamp(0.7813rem, 0.7736rem + 0.0341vw, 0.8rem);
    --step--1: clamp(0.9375rem, 0.9119rem + 0.1136vw, 1rem);
    --step-0: clamp(1.125rem, 1.0739rem + 0.2273vw, 1.25rem);
    --step-1: clamp(1.35rem, 1.2631rem + 0.3864vw, 1.5625rem);
    --step-2: clamp(1.62rem, 1.4837rem + 0.6057vw, 1.9531rem);
    --step-3: clamp(1.944rem, 1.7405rem + 0.9044vw, 2.4414rem);
    --step-4: clamp(2.3328rem, 2.0387rem + 1.3072vw, 3.0518rem);
    --step-5: clamp(2.7994rem, 2.384rem + 1.8461vw, 3.8147rem);
    --step-6: clamp(3.3592rem, 2.7828rem + 2.5621vw, 4.7684rem);
    --step-7: clamp(4.0311rem, 3.2418rem + 3.508vw, 5.9605rem);
    --step-8: clamp(4.8373rem, 3.7682rem + 4.7514vw, 7.4506rem);
    --step-9: clamp(5.8048rem, 4.3695rem + 6.379vw, 9.3132rem);*/

    /*--rhythm-1: var(--step-0, 1rem);
    --rhythm-2: var(--step-1, 2rem);
    --rhythm-3: var(--step-2, 3rem);
    --rhythm-4: var(--step-3, 4rem);*/

    --width-prose: 50rem;
    --width-max: calc(var(--width-prose) * 1.618); /* 80,98 */
    --width-featured: calc(var(--width-prose) / 1.618); /* 30.90 */
    --width-column: calc(var(--width-prose) / 2.618); /* 19 */
    /*--width-token: 30rem;*/

    /* Open Props */
    /*--radius-1: 2px;
    --radius-2: 5px;
    --radius-3: 1rem;
    --radius-4: 2rem;
    --radius-5: 4rem;
    --radius-6: 8rem;*/

    --radius-round: 1e5px;
    --radius-max: 8rem;
    --radius-prose: 4rem;
    --radius-featured: 2rem;
    --radius-column: 1rem;
    --radius-token: 5px;

    /* Open Props */
    /*--border-size-1: 1px;
    --border-size-2: 2px;
    --border-size-3: 5px;
    --border-size-4: 10px;
    --border-size-5: 25px;*/

    --thick-max: 5px;
    --thick-prose: 5px;
    --thick-featured: 2px;
    --thick-column: 2px;
    --thick-token: 2px;

    --padding-inline-max: var(--step--2, 0.8rem);
    --padding-inline-prose: 5px;
    --padding-inline-featured: 2px;
    --padding-inline-column: 2px;
    --padding-inline-token: 2px;

    --offset-list: 2rem; /* ul and ol left padding */
    --text-underline-offset: 0.15em;
}

/* ------------------ */
section,
body > header,
body > footer {
    background: lightpink;
}
