/* Global styles */

/* body {
  font-family: "Questrial", system-ui, sans-serif;
  margin-block-start: 0;
} */

footer {
  max-width: var(--width-prose);
}

/* General Layout */

/* Navigation */

body > header {
  max-width: var(--width-prose);
  & li {
    margin-inline: 0;
  }
  & :is(a, abbr) {
    text-decoration: none;
    color: inherit;
  }
  & a[aria-current] {
    font-weight: bold;
  }
}

/* Footer */

/* Recurring Page Elements Layout */

/* Callout */
.callout {
  max-width: var(--width-prose);
  padding: 1rem;
  border: 2px dotted #c09d74;
  text-wrap: balance;
  text-align: center;
}

/* Unique Elements */
