/* Global styles */
body {
  font-family: "Questrial", system-ui, sans-serif;
  margin-block-start: 0;
}

img,
picture,
video {
  display: block;
}

strong {
  color: #000;
}

main > p:has(> iframe:only-child) {
  margin-block: var(--step-6);
}

main > p > iframe:only-child {
  width: 100%;
}

/* General Layout */
body {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
body > * {
  width: 100%;
}
main > section {
  margin-block: var(--step-6);
}

/* Navigation */
body > header nav {
  display: flex;
  flex-wrap: nowrap;
  gap: 2rem;
  margin-inline: 1rem;
  justify-content: space-between;
  & li {
    margin-inline: 0;
  }
  & :is(a, abbr) {
    text-decoration: none;
    color: inherit;
  }
  & a[aria-current] {
    font-weight: bold;
    color: #000;
  }
}
body > header nav ul {
  align-items: center;
  justify-content: flex-end;
}
body > header nav ul#main-nav {
  flex-grow: 1;
  /* width: 100%; */
  /* flex-wrap: nowrap; */
}
.nav-logo {
  margin-inline-end: auto;
}
#lang-nav {
  flex-wrap: nowrap;
  gap: 0.5rem;
  max-height: 3rem;
}
body > header nav li,
body > header nav img,
body > header nav picture {
  max-height: 3rem;
  width: auto;
}
body > header.full-bleed-before {
  z-index: 1000;
  position: sticky;
  top: 0;
  background: inherit;
}

body > header::before {
  /* box-shadow: 0 0 0.5rem hsl(0 0% 0% / 0.3); */
  animation: navShadow linear forwards;
  animation-timeline: view(block);
  /* animation-timeline: view(); */
  animation-range-start: 100vh;
  animation-range-end: 200vh;
}
@keyframes navShadow {
  100% {
    box-shadow: 0 0.5rem 0.5rem hsl(0 0% 0% / 0.05);
    /* border-bottom: solid 5px red; */
  }
}

/* Footer */
footer {
  margin-block-start: auto;
  background-color: #d4d1a5;
  color: #3a471a;
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  font-size: var(--step--1);
}
footer .infos {
  max-width: var(--width-prose);
  margin-inline: auto;
  width: 100%;
  /* justify-items: flex-end; */
  --width-column-min: 12rem;
}
footer a {
  color: inherit;
}

/* Recurring Page Elements Layout */
/* Large horizontal images */
main > p:not(:first-child):has(> picture:only-child),
main > p:not(:first-child):has(> img:only-child) {
  max-width: var(--width-max);
  margin-block: var(--step-6);
}
main > p:not(:first-child) > picture:only-child,
main > p:not(:first-child) > img:only-child {
  aspect-ratio: 3;
  object-fit: cover;
}

/* Top illustration */
main > p:first-child:has(> picture:only-child),
main > p:first-child:has(> img:only-child) {
  padding-inline: 2rem;
}
main > p:first-child > picture:only-child,
main > p:first-child > img:only-child {
  max-width: 15rem;
  margin-inline: auto;
}

main > h1 {
  text-align: center;
}

/* Gallery */
main > p:has(> picture + picture),
main > p:has(> img + img) {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
main > p:has(> picture + picture) > picture,
main > p:has(> img + img) > img {
  aspect-ratio: 1;
}

/* Large message */
main > section.full-bleed-before {
  font-size: var(--step-2);
  background-color: #87855c;
  color: #fff;
  padding-block: 2rem;
}
main > section.full-bleed-before p {
  text-align: center;
  text-wrap: balance;
}

/* Callout */
section.callout {
  max-width: var(--width-prose);
  padding: 1rem;
  border: 1px solid #c9c9c9;
}

/* Button */
.btn {
  text-decoration: none;
  color: #87855c;
  text-transform: uppercase;
  border: 3px solid currentColor;
  padding: 0.5rem 1rem;
}
.btn.book {
  max-width: 100%;
  width: max(30%, 16ch);
  /* width: max-content; */
  text-align: center;
}
.btn.book:hover {
  color: #fff;
  background-color: #87855c;
  border-color: #87855c;
}

/* Unique Elements */
/* Home heading-group */
heading-group img,
heading-group picture {
  max-width: 300px;
  margin-inline: auto;
}
/* Home links */
.home-links {
  --width-wrap: 19rem;
}
.home-links li {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-links li a {
  text-decoration: none;
  color: inherit;
}
.home-links picture,
.home-links img {
  max-width: 150px;
  margin-inline: auto;
}
.home-links li a:hover {
  color: #87855c;
}
@media (max-width: 400px) {
  .home-links li a {
    font-size: var(--step-0);
  }
}

/* Booking calendar */
ol.calendar-list {
  --_list-items-padding: 1rem;
  max-width: 100%;
  /* gap: 1rem; */
  /* justify-content: center; */
  padding: 1rem;
  align-items: stretch;
  scroll-snap-type: x mandatory;
  scroll-padding: var(--_list-items-padding);
}

.calendar-list > li {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  padding: var(--_list-items-padding);
  scroll-snap-align: start;
}

table.calendar {
  /* padding: 0.5rem; */
  /* width: 100%; */
  /* max-width: 300px; */
  /* border-collapse: separate; */
  /* border-spacing: 0; */
  /* background-color: white; */
  /* border-radius: 12px; */
  /* overflow: hidden; */
  /* margin: 0 auto; */
}

table.calendar thead {
  /* color: #d4d1a5; */
  color: #c09d74;
  border-block-start: 1px solid currentColor;
}

table.calendar th {
  font-weight: normal;
  text-transform: uppercase;
}
table.calendar th,
table.calendar td {
  padding: 0.5rem 0.3rem;
  text-align: center;
}

/* Caption styling - month and year */
table.calendar caption {
  padding: 1rem 0.3rem;
  text-align: right;
  /* display: flex;
  justify-content: flex-end;
  align-items: center; */
  /* padding: 15px 20px 10px; */
  /* font-size: 14px;
    font-weight: 500;
    color: #333;
    border-bottom: 1px solid #f0f0f0; */
}

table.calendar td[data-booked="1"] {
  color: #d8d8d8;
  /* cursor: not-allowed; */
  position: relative;
}
table.calendar td[data-booked="1"]::after,
table.calendar td[data-booked="1"]::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 25%;
  width: 50%;
  height: 2px;
  transform: rotate(45deg);
  /* border-radius: 50%; */
  background-color: #d8d8d8;
}
table.calendar td[data-booked="1"]::before {
  transform: rotate(-45deg);
}

/* Photo potager recadrage */
img[src="/assets/images/vnGqJC_t4o-480.webp"] {
  object-position: 50% 61%;
}
