    <header id="menu" class="theme1-v1-light ">
        <nav class="cluster" style="--justify-cluster: space-between;">
            <div class="logo font-bold text-uppercase">LOGO</div>
            <ul class="cluster" role="list">
                <li><a href="#">Page</a></li>
                <li><a href="#">Page</a></li>
                <li><a href="#">Page</a></li>
                <li><a href="#">Page</a></li>
                <li><a href="#" class="cta-button">Button</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="hero" class="flow center text box intrinsic bleed-bg theme1-v1-light">
            <h1>COMPELLING HERE</h1>
            <p>Welcome message, tagline or elevator speech. Who do you serve and what do you offer them?</p>
            <a href="#" class="cta-button">Call to Action</a>
        </section>

        <section id="problem-statement" class="center text flow theme1-v1-light">
            <h2>ENGAGING SUBHEADING, ADDRESS YOUR VISITORS PROBLEMS.</h2>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. </p>
        </section>

        <section id="about" class="about switcher bleed-bg limit-2 theme1-v1-light">
            <div class="image-container">
                <img src="https://www.placeholderimage.eu/api/nature" alt="Texture de sable" style="object-fit: cover;">
            </div>
            <div class="content flow centered">
                <h3>INTRODUCE YOURSELF</h3>
                <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
        </section>

        <section id="services" class="services switcher text center theme1-v1-light" style="--width-column-min: 15rem;">
            <article class="service-item flow">
                <div class="frame" style="--n: 1; --d: 1; --aspect-ratio: 1/1;">
                    <img src="https://www.placeholderimage.eu/api/nature/id/1" alt="Café" style="object-fit: cover;">
                </div>
                <h4>SERVICE ONE</h4>
            </article>

            <article class="service-item flow">
                <div class="frame" style="--n: 1; --d: 1; --aspect-ratio: 1/1;">
                    <img src="https://www.placeholderimage.eu/api/nature/id/2" alt="Nuage" style="object-fit: cover;">
                </div>
                <h4>SERVICE TWO</h4>
            </article>

            <article class="service-item flow">
                <div class="frame" style="--n: 1; --d: 1; --aspect-ratio: 1/1;">
                    <img src="https://www.placeholderimage.eu/api/nature/id/3" alt="Formes géométriques" style="object-fit: cover;">
                </div>
                <h4>SERVICE THREE</h4>
            </article>
        </section>

        <section id="conclusion" class="conclusion center text theme1-v1-light">
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. </p>
        </section>
    </main>

    <footer id="footer" class=" switcher limit-3 theme1-v1-light bleed-bg">
        <div class="footer-brand flow">
            <h2>BRAND NAME</h2>
            <p>Slogan here</p>
            <div class="social-icons cluster">
                <a href="#">X</a>
                <a href="#">IG</a>
                <a href="#">YT</a>
                <a href="#">IN</a>
            </div>
        </div>

        <div class="footer-links flow">
            <a href="#" style="display: block;">Label</a>
            <a href="#" style="display: block;">Label</a>
            <a href="#" style="display: block;">Label</a>
            <a href="#" style="display: block;">Label</a>
        </div>

        <div class="footer-contact flow">
            <p>Contact</p>
            <address>
                Address ...<br>
                Tel ...<br>
                Mail ...
            </address>
            <form class="flow">
                <input type="email" placeholder="you@example.com" class="" style="width: 100%;">
                <button type="submit" class="cta-button">Submit</button>
            </form>
        </div>
    </footer>
